<!DOCTYPE html>
<html>
  <head>
    <title>PM Infinity - 10月5号</title>
    <meta name="keywords" content="PM Infinity" />
    <meta name="description" content="我和妻子及双方家人10月5号在九江恭候大家的光临。" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/weui.min.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/jquery.fullpage.min.css">
    <link rel="stylesheet" href="/styles/slick.css">
    <link rel="stylesheet" href="/styles/wall.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
  </body>
</html>
