<div class="weui_msg">
  <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
  <div class="weui_text_area">
    <h2 class="weui_msg_title">授权失败</h2>
    <p class="weui_msg_desc">授权发生未知错误，请重新授权</p>
  </div>
  <div class="weui_opr_area">
    <p class="weui_btn_area">
      <a href="<%- reauthUrl %>" class="weui_btn weui_btn_warn">重新授权</a>
    </p>
  </div>
</div>

