<div class="wall">
  <div id="fullpage">
    <div class="section section-gallery" id="section0">
        <div class="slide" id="slide1"></div>
        <div class="slide" id="slide2"></div>
        <div class="slide" id="slide3"></div>
        <div class="slide" id="slide4"></div>
        <div class="slide" id="slide5"></div>
    </div>
    <div class="section " id="section1">
      <div class="theme">
        <ul class="alias">
          <li class="p">
            <div class="name"></div>
            <img alt="P" src="/images/theme_p.png" />
          </li>
          <li class="and">
            <img alt="&" src="/images/theme_and.png" />
          </li>
          <li class="m">
            <div class="name">&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <img alt="P" src="/images/theme_m.png" />
          </li>
        </ul>
        <div class="slagon">
          <img alt="Infinity" src="/images/theme_infinity.png" />
        </div>
        <div class="thanks">
          <p class="hr"></p>
          <span>感谢参加我们的婚礼！</span>
        </div>
      </div>
    </div>
    <div class="section" id="section2"></div>
    <div class="section" id="section3">
      <div class="lottery">
        <div class="lottery-box">
          <div class="head-img">
            <img src="" alt="candidate head img" id="img-head">
          </div>
          <div class="nick-name" id="nick-name">准备好了吗</div>
          <button class="btn btn-start" id="btn-lottery"></button>
        </div>
        <div class="winner-list">
          <ul class="list" id="winner-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="wish-board" id="wish-board"></div>
</div>
